body {
    background: #00001a;
    height: 100vh;
}

.center * {
    margin: 0 auto;
}

.right * {
    margin: 15;
}

.sun {
    width: 256px;
    height: 256px;
    display: block;
}

.horizontal-line-static {
    height: 4px;
    background-color: red;
}

.horizontal-line {
    height: 4px;
    background-color: red;
    animation: moveDown 2s linear infinite;
    margin-bottom: 128px;
}

@keyframes moveDown {
    to {
        transform: translate(0, 132px);
    }
}
